{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tailwindFunctions": ["tw", "cn", "tv"],
  "tailwindAttributes": ["tw"],
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports"
  ],
  "overrides": [
    {
      "files": ["*.json"],
      "options": { "trailingComma": "es5" }
    },
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
