---
import { Image } from "astro:assets";

import { bg_cover } from "@/assets";

type Position = "top" | "bottom";

interface Props {
  position: Position;
}

const { position } = Astro.props;

const gradient_stop = position === "top" ? "180deg" : "0deg";
---

<div
  class:list={[
    "absolute -z-1 h-120 w-full overflow-hidden",
    position === "top" ? "top-0" : "bottom-0",
  ]}
>
  <figure class="relative size-full">
    <Image
      src={bg_cover}
      alt=""
      layout="none"
      class="absolute top-0 left-0 size-full object-cover"
    />
  </figure>
</div>

<style define:vars={{ gradient_stop }}>
  figure::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 101%;
    background: linear-gradient(
      var(--gradient_stop),
      rgb(255 255 255 / 0.65) 0%,
      #fff 95%
    );
    backdrop-filter: blur(10px);
  }
</style>
