---
import Wrapper from "@/components/layout/wrapper.astro";
import Link from "@/components/primitives/link.astro";
import RoutesMenu from "@/components/widgets/routes-menu.astro";
import ThemePicker from "@/components/widgets/theme-picker.astro";

import { Image } from "astro:assets";

import { avatar } from "@/assets";
---

<header class="transition-colors ease-in-out">
  <Wrapper>
    <div class="py-8">
      <div class="flex items-center justify-between">
        <Link
          href="/"
          class="flex size-10 items-center justify-center overflow-hidden rounded-full"
        >
          <Image
            width={40}
            height={40}
            alt="Prince Muel"
            src={avatar}
            loading="lazy"
          />
        </Link>

        <div
          class="fixed inset-x-0 bottom-[5vh] z-50 mx-auto grid w-full place-content-center md:contents"
        >
          <RoutesMenu />
        </div>
        <ThemePicker />
      </div>
    </div>
  </Wrapper>
</header>
