---
import Link from "@/components/primitive/link.astro";

// https://iconify.design/docs/icon-components/ 404 page
---

<!doctype html>
<html lang="en" data-reader-mode="dynamic" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>404 Not Found</title>
  </head>
  <body>
    <main>
      <div>
        <p>404</p>
        <h1>PAGE NOT FOUND</h1>
        <hr />
        <blockquote>
          But if you don't change your direction, and if you keep looking, you may end up where
          you are heading.
        </blockquote>

        <Link href="/" aria-label="go to home">Take me home</Link>
      </div>
    </main>
  </body>
</html>
