---
import Content from "@/content/routes/404.md";
---

<!doctype html>
<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>404 Not Found</title>
  </head>
  <body>
    <Content />
  </body>
</html>
