---
import Markdown from "@/components/content/markdown.astro";
import Wrapper from "@/components/layout/wrapper.astro";
import Root from "@/layouts/root.astro";

import { Content } from "@/content/pages/about-me.md";

import { avatar } from "@/assets";

import { published_date } from "@/config/settings";
import { withBaseUrl } from "@/helpers/with-base-url";
import { profile_ld } from "@/schema/jsonld";
import { remove_key } from "@/utils/objects";

import type {
  BreadcrumbList,
  Graph,
  ImageObject,
  ProfilePage,
  WithContext,
} from "schema-dts";

const page_ld = {
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": withBaseUrl("/about-me").toString(),
  url: withBaseUrl("/about-me").toString(),
  name: "Prince Muel - Frontend Engineer, Educator, Musician",
  description: "",
  isPartOf: { "@id": withBaseUrl("/about-me").toString() },
  primaryImageOfPage: {
    "@id": withBaseUrl(avatar.src).toString(),
  },
  image: { "@id": withBaseUrl(avatar.src).toString() },
  thumbnailUrl: withBaseUrl(avatar.src).toString(),
  datePublished: published_date.toISOString(),
  dateModified: new Date().toISOString(),
  breadcrumb: { "@id": withBaseUrl("/about-me#breadcrumb").toString() },
  inLanguage: "en-US",
  potentialAction: [
    {
      "@type": "ReadAction",
      target: [withBaseUrl("/about-me").toString()],
    },
  ],
} satisfies WithContext<ProfilePage>;

const image_ld = {
  "@context": "https://schema.org",
  "@type": "ImageObject",
  "@id": withBaseUrl(avatar.src).toString(),
  url: withBaseUrl(avatar.src).toString(),
  width: "1200",
  height: "630",
} satisfies WithContext<ImageObject>;

const breadcrumb_ld = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "@id": withBaseUrl("/about-me/#breadcrumb").toString(),
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Home - Prince Muel",
      item: withBaseUrl("/").toString(),
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Prince Muel - Frontend Engineer, Educator, Musician",
      item: withBaseUrl("/about-me").toString(),
    },
  ],
} as WithContext<BreadcrumbList>;

const jsonld = {
  "@context": "https://schema.org",
  "@graph": remove_key("@context", [page_ld, image_ld, breadcrumb_ld, profile_ld]),
} satisfies Graph;

const meta = {
  title: ["Whoami"],
  description: "Frontend Engineer, Coding Instructor, Musician",
  robots: { noindex: true, nofollow: true, nosnippet: true },
  type: "profile",
} satisfies Meta;
---

<Root meta={meta}>
  <script
    is:inline
    type="application/ld+json"
    slot="head"
    set:html={JSON.stringify(jsonld)}
  />
  <Wrapper>
    <div class="flex flex-col gap-4">
      <h1 id="headline" class="text-3xl font-extrabold text-slate-800 lg:text-5xl">
        Who the hell am I?
      </h1>
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </Wrapper>
</Root>
