---
import Markdown from "@/components/content/markdown.astro";
import Wrapper from "@/components/layout/wrapper.astro";
import Root from "@/layouts/root.astro";

import { Content } from "@/content/pages/home.md";

import { home_ld } from "@/schema/jsonld";
import { remove_key } from "@/utils/objects";

import type { Graph } from "schema-dts";

const jsonld = {
  "@context": "https://schema.org",
  "@graph": remove_key("@context", [home_ld]),
} satisfies Graph;

const meta = {
  title: ["Prince Muel", true],
  description: "Prince Muel, Software Engineer",
} satisfies Meta;
---

<Root meta={meta}>
  <script
    is:inline
    type="application/ld+json"
    slot="meta"
    set:html={JSON.stringify(jsonld)}
  />

  <Wrapper>
    <div class="flex flex-col gap-4">
      <h1 id="headline" class="text-3xl font-extrabold text-slate-800 lg:text-5xl">
        Hey there! 👋
      </h1>

      <Markdown>
        <Content />
      </Markdown>
    </div>
  </Wrapper>
</Root>
