---
import Markdown from "@/components/content/markdown.astro";
import Wrapper from "@/components/layout/wrapper.astro";
import Root from "@/layouts/root.astro";

import { Content } from "@/content/pages/offline.md";

const meta = {
  title: ["Offline Page"],
  description:
    "The offline page of this site. Users land here when they try to navigate to a page but have network issues or are offline",
  robots: { noindex: true, nofollow: true, nosnippet: true },
} satisfies Meta;
---

<Root meta={meta}>
  <Wrapper>
    <div class="flex flex-col gap-4">
      <h1 id="headline" class="text-3xl font-extrabold text-slate-800 lg:text-5xl">
        Offline Page
      </h1>
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </Wrapper>
</Root>
