---
import Markdown from "@/components/content/markdown.astro";
import Wrapper from "@/components/layout/wrapper.astro";
import Root from "@/layouts/root.astro";

import { Content } from "../../../LICENSE.md";

const meta = {
  title: ["License & Disclaimer"],
  description: "License & Disclaimer for Prince Muel's site",
} satisfies Meta;
---

<Root meta={meta}>
  <Wrapper>
    <div class="flex flex-col gap-4">
      <h1 id="headline" class="text-3xl font-extrabold text-slate-800 lg:text-5xl">
        License & Disclaimer
      </h1>
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </Wrapper>
</Root>
